@import url(https://fonts.bunny.net/css?family=advent-pro:100);
@import url(https://fonts.bunny.net/css?family=amiko:400);

@import url(../CSS/header.css);
@import url(../CSS/projects.css);
@import url(../CSS/contact.css);
@import url(../CSS/about.css);
@import url(../CSS/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease-in-out !important;
  background-color: beige;
}

/* -------------Dark screen mode-------------- */

body.blackScreen {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}

body.blackScreen .project-works {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8) 10%,
    rgba(255, 68, 0, 0.603) 40%,
    rgba(0, 0, 0, 0.8) 80%
  );
}

body.blackScreen footer {
  background: url(../image/footer-bg-pic.png);
  background-position: center;
  background-size: cover;
}


body.blackScreen .ok {
  color: white;
}

body.blackScreen .project-content a {
  color: blue;
}

body.blackScreen #dark-mode {
  background-color: orangered;
  box-shadow: 1px 1px 5px black;
}

body.blackScreen #open-sidebar-button {
  background-color: orangered;
  box-shadow: 1px 1px 5px black;
}

body.blackScreen #back-to-top {
  background-color: orangered;
  box-shadow: 1px 1px 7px black;
}

body.blackScreen .about h5 {
  color: bisque;
}

body.blackScreen .about-content p {
  color: white;
}

body.blackScreen .about-content {
  box-shadow: 0 4px 24px rgba(255, 255, 255, 0.12);
}

body.blackScreen .skill-info {
  color: white;
}

/* -------Dark screen mode codes stop here -------*/

:root {
  --header-font: "Advent Pro", sans-serif;
  --text-font: "Amiko", sans-serif;
}

#dark-mode {
  position: fixed;
  left: 4%;
  top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50% !important;
  border: none;
  box-shadow: 1px 1px 5px white;
  z-index: 1000;
  -webkit-appearance: none !important;
  appearance: none !important;
}

#dark-mode:hover {
  cursor: grab;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 5% !important;
  cursor: grab;
  border: none;
  padding: 0.6rem;
  box-shadow: 1px 1px 7px black;
  display: none;
  -webkit-appearance: none !important;
  appearance: none !important;
  z-index: 1000;
}

#back-to-top.shows {
  display: block;
}

@media screen and (max-width: 700px) {
  #navbar {
    position: fixed !important;
    top: 0 !important;
    z-index: 1000 !important;
    transform: translateX(-100%);
    width: 100% !important;
    
    height: 100vh !important;
    background-color: orangered;
    transition: transform 1.3s ease-in-out !important;
  }

  #navbar.show {
    transform: translateX(0);
  }

  #close-sidebar-button {
    margin-left: -10.5rem;
    margin-top: -1.7rem;
    border: none !important;
    padding: 1em;
    border-radius: 50%;
    box-shadow: 1px 1px 5px white;
  }

  #open-sidebar-button {
    border: none;
    z-index: 1000;
    top: 2%;
    margin-left: 1rem;
    padding: 1em;
    border-radius: 50%;
    box-shadow: 1px 1px 5px white;
    position: fixed !important;
  }

  #navbar ul {
    background-color: orangered;
  }

  #navbar ul li {
    margin-top: 2rem;
  }

  #navbar ul a {
    color: black !important;
    font-size: 17px !important;
  }

  .nav-buttons ul {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    margin-top: 12rem;
    border: none;
  }


  #dark-mode {
    position: fixed !important;
    left: 20% !important;
    top: 2%;
    padding: 1.2em;
    z-index: 1000;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 5px white;
    display: block !important;
    -webkit-appearance: none !important;
    appearance: none !important;
  }
}

@media screen and (max-width: 360px) {
  #dark-mode {
    left: 20% !important;
    padding: 0.5em;
  }

  #open-sidebar-button {
    padding: 0.7em !important;
  }

  #close-sidebar-button {
    padding: 0.7em !important;
  }
}

@media screen and (min-width: 700px) {
  #close-sidebar-button {
    display: none;
  }

  #open-sidebar-button {
    display: none;
  }
}
